<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/lightbox.css">
</head>

<body>
    <div id="frame">
        <div id="header">
            {% include _nav.html %}<br>
            {% include _paintings_nav.html %}
        </div>
        <div id="main">
            <div align="center"><h3><i>{{ page.image_title}}</i></h3></div>
            <!-- Image Zoom HTML -->   
            <img align="center" id="myImg" src="{{ page.image_thumbnail_url}}" alt="{{ page.image_title}}" width="{{image_thumbnail_pixel_width}}" height="image_thumbnail_pixel_height">
             <!-- The Modal -->
             <div id="myModal" class="modal">
             <img class="modal-content" id="img01">
             <div id="caption"></div>
             </div>
        </div>
        <table style="width: 100%;">
            <tr>
                <td><a href="{{ page.back_url }}">&lt; Zurück</a></td>
                <td class="alignRight"><a href="{{ page.next_url }}">Weiter &gt;</a></td>
            </tr>
        </table>
    </div>
    <script>
    {% include _lightbox.js %}
</script>
</body>
</html>