<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{ page.title | default: site.title }}</title>
<!--     <link rel="stylesheet" href="assets/css/styles.css"> -->
    <link rel="stylesheet" href="assets/css/lightbox.css">
</head>

<body>
    <div id="frame">
        <div id="header">
            {% include _nav.html %}<br>
            {% include _paintings_nav.html %}
        </div>
        <div id="main">
            <div align="center"><h3><i>{{ page.image_title}}</i></h3></div>
            <!-- Image Zoom HTML -->   
            <img align="center" id="myImg" src="{{ page.image_url}}" alt="Bild von Walther Meinig" width="500" height="auto">
             <!-- The Modal -->
             <div id="myModal" class="modal">
             <img class="modal-content" id="img01">
             <div id="caption"></div>
             </div>
        </div>
        <table style="width: 100%;">
            <tr>
                <td><a href="{{ page.back_url }}">&lt; Zurück</a></td>
                <td class="alignRight"><a href="{{ page.next_url }}">Weiter &gt;</a></td>
            </tr>
        </table>
    </div>
    <script>
    // Get the modal
var modal = document.getElementById('myModal');

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById('myImg');
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
img.onclick = function(){
    modal.style.display = "block";
    modalImg.src = this.src;
    modalImg.alt = this.alt;
    captionText.innerHTML = this.alt;
}


// When the user clicks on <span> (x), close the modal
modal.onclick = function() {
    img01.className += " out";
    setTimeout(function() {
       modal.style.display = "none";
       img01.className = "modal-content";
     }, 400);
    
 }    
    
</script>
</body>
</html>