<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/lightbox.css">
</head>

<body>
    <div id="frame">
        <div id="header">
            {% include _nav.html %}<br>
        </div>
        <div id="main">
            <div align="center">
                <p align="center" style="font-size:22px"><i>{{ page.image_title}}</i><p>
                <p align="center" style="font-size:14px">{{ page.image_info1}}, {{ page.image_info2}}</p>
            </div><br>
            <div align="center">
                <b><a style="font-size:22px;text-decoration: none;color:blue" href="{{ page.back_url }}">&#8592;</a>&nbsp;&nbsp;&nbsp;&nbsp;<a style="font-size:22px;text-decoration: none;color:blue" href="{{ page.up_url }}">&#8593;</a>&nbsp;&nbsp;&nbsp;&nbsp;<a style="font-size:22px;text-decoration: none;color:blue" href="{{ page.next_url }}">&#8594;</a></b>
            </div>            
            <div>
              <!-- Image Zoom HTML -->   
              <img align="center" id="myImg" src="{{ page.image_thumbnail_url}}" alt="{{ page.image_title}}">
              <p align="center" style="font-size:14px">Bild anklicken zum Vergrößern</p>
               <!-- The Modal -->
               <div id="myModal" class="modal">
                 <img class="modal-content" id="img01">
                 <div id="caption"></div>
               </div>
            </div>
        </div>
    </div>
    <script>
    {% include _lightbox.js %}
</script>
</body>
</html>